# Dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Next.js build output
.next
out

# Testing
coverage
.nyc_output
cypress/videos
cypress/screenshots
html-report

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.git
.github
.husky
.vscode
*.md
!DOCKER.md
!README.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore
