# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js

# testing
/frontend/coverage
/frontend/html-report
/frontend/cypress/videos
/frontend/cypress/screenshots
/frontend/cypress/reports
/frontend/cypress.env.json

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*

# vercel
/frontend.vercel

# story-book
/storybook-static
/docs-build

# jetbrains
.idea/

# Backend files
backend/__pycache__