.artifactignore
.deployment
.github
.gitignore
.husky
.idea
.next
.npmrc
.prettierignore
.vscode
coverage
cypress/reports/
html-report
node_modules
out
package.json
package-lock.json
*.bicep
*.feature
