.artifactignore
.deployment
.editconfig
.eslintignore
.dockerignore
.github
.gitignore
.husky
.idea
.next
.npmrc
.nvmrc
.prettierignore
.vscode
coverage
cypress/reports/
Dockerfile
html-report
node_modules
out
package-lock.json
*.bicep
