# Node.js Express Web App to Linux on Azure
# Build a Node.js Express app and deploy it to Azure as a Linux web app.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

variables:
  # Azure Resource Manager connection created during pipeline creation
  azureSubscription: '6001685e-2c0d-4d57-b07f-e198dfce3799'

  # Web app name
  webAppName: 'App-nextjs-boilerplate'

  # Container
  containerRepository: 'nextjscoilerplatecontainer.azurecr.io'
  imageRepository: 'nextjsboilerplate'
  dockerRegistryServiceConnection: 'nextjs-container-registry'
  tagLatest: 'latest'

  # Environment name
  environmentName: 'App-nextjs-boilerplate'

  # Agent VM image name
  vmImageName: 'ubuntu-latest'

  # Is running on main branch
  isMain: $[eq(variables['Build.SourceBranch'], 'refs/heads/main')]

  sourceSlot: 'staging'
  resourceGroup: 'nextjs-boilerplate'

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)

    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '10.x'
      displayName: 'Install Node.js'

#    - script: |
#        npm install
#      displayName: 'install & build'
#
#    - script: |
#        npx print-env AGENT
#        npx print-env BUILD
#        npx print-env SYSTEM
#      displayName: Pipeline Environment
#
#    - script: |
#        npm run lint --if-present
#      displayName: 'lint'
#
#    - script: |
#        npm run test:cover --if-present
#      displayName: 'test coverage'
#
#    - task: PublishTestResults@2
#      displayName: 'Publish test coverage report'
#      condition: succeededOrFailed()
#      inputs:
#        testResultsFiles: 'coverage/jest-junit/junit.xml'
#
#    - task: PublishHtmlReport@1
#      displayName: 'Publish tests html report'
#      condition: succeededOrFailed()
#      inputs:
#        reportDir: 'html-report/report.html'

#    - task: ArchiveFiles@2
#      displayName: 'Archive files'
#      inputs:
#        rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
#        includeRootFolder: false
#        archiveType: zip
#        archiveFile: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
#        replaceExistingArchive: true
#
#    - upload: $(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip
#      artifact: drop

    - task: Docker@2
      displayName: Build and push an image to container registry
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tagLatest)

    - task: AzureWebApp@1
      displayName: 'Deploy container'
      inputs:
        azureSubscription: $(azureSubscription)
        appName: $(webAppName)
        slotName: $(sourceSlot)
        containers: $(containerRegistry)/$(imageRepository):$(tagLatest)

#- stage: Deploy
#  displayName: Deploy stage
#  dependsOn: Build
#  condition: and(succeeded(), eq(variables.isMain, true))
#  jobs:
#  - deployment: Deploy
#    displayName: Deploy
#    environment: $(environmentName)
#    pool:
#      vmImage: $(vmImageName)
#    strategy:
#      runOnce:
#        deploy:
#          steps:
#          - task: AzureWebApp@1
#            displayName: 'Azure Web App Deploy: nextjs-deployment-example'
#            inputs:
#              azureSubscription: $(azureSubscription)
#              appType: webAppLinux
#              appName: $(webAppName)
#              runtimeStack: 'NODE|14-lts'
#              package: $(Pipeline.Workspace)/drop/$(Build.BuildId).zip
#              startUpCommand: 'npm run start'
#              slotName: $(sourceSlot)
#
#          - task: AzureAppServiceManage@0
#            displayName: 'Swap Slots'
#            inputs:
#              azureSubscription: $(azureSubscription)
#              Action: 'Swap Slots'
#              WebAppName: $(webAppName)
#              ResourceGroupName: $(resourceGroup)
#              SourceSlot: $(sourceSlot)
